<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Electric Bike">
    <meta name="keywords" content="Eco Friendly">
    <meta name="author" content="Rajarshi Nag">
    <title>ELECTRO4ME</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>

</head>
<body>



    
    <div class="navicon" id="navicon">
        <a href="/">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="" draggable="false" >
        <span id="navicon-text">

            ELECTRO4ME
        </span>
        </a>
    </div>
    <div class="navbar" id="MyHeader">
        <span class="nav-title" id="nav-title">ELECTRO4ME</span>
        <input type="checkbox" name="" id="navbtn" class="navbtn">
        <label for="navbtn" class="lines">
            <span class="line line1"></span>
            <span class="line line2"></span> 
            <span class="line line3"></span> 
        </label>

        <!-- navbar links -->
        <ul class="nav-items">
            <li> <a href="/">Home</a> </li>
            <li> <a href="/products">Products</a> </li>
            <li> <a href="/about">About Us</a> </li>
            <li> <a href="/contact">Contact US</a> </li>
        </ul>
        
    </div>


    <div class="top-body" id="top-body">
        <div class="top-text">
            <h1>ELECTRO<span style="color:aquamarine;">4</span>ME</h1>
            <h4>ELECTRIC SCOOTER - WAY TO <span style="color:greenyellow;">GREEN</span> . . .</h4>
        </div>
        <a href="#main-body" class="top-text__arrow">
            <div class="arrows">
                <div class="arrow1 arrow"></div>
                <div class="arrow2 arrow"></div>
            </div>
            
        </a>
    </div>

    
    <div class="main-body" id="main-body">
        <div class="empty"></div>
        <div class="provide">
            <span class="heading" ><h1 >Hello & welcome</h1><h3><span></span> Explore our world <span></span></h3></span>
            <br>
            <div class="box-of-cards">

                <div class="cards" >
                    <div class="card quality" data-aos="zoom-in">Quality Products</div>
                    <div class="card price" data-aos="zoom-in">Affordable Prices</div>
                </div>
                <div class="cards" data-aos="fade-up">
                    <div class="card-rotated">
                        <div > WE PROVIDE</div>
                    </div>
                </div>
                <div class="cards">
                    <div class="card eco" data-aos="zoom-in">Eco-Friendliness</div>
                    <div class="card customer" data-aos="zoom-in">Customer Satisfaction</div>
                </div>
            </div>
        </div>

        <div class="counters" >
            <div class="counter" data-aos="fade-right">
                <i class="material-icons md-36">done_all</i>
                <div class="counter__value" data-="12"></div>
                <p>Scooters Delivered</p>
            </div>
            <div class="counter" data-aos="fade-right">
                <i class="material-icons md-36">edit_road</i>
                <div class="counter__value" data-="896"></div>
                <p>KM Distance Covered</p>
            </div>
            <div class="counter" data-aos="fade-left">
                <i class="material-icons md-36">directions_bike</i>
                <div class="counter__value" data-="105"></div>
                <p>Test Rides</p>
            </div>
            <div class="counter" data-aos="fade-left">
                <i class="material-icons md-36">mood</i>
                <div class="counter__value" data-="8"></div>
                <p >Happy Clients</p>
            </div>
        </div>



    <div id="card-section">


        <div class="cards2" data-aos="zoom-in-right">

          <span class="card-title">Vision</span>
          <div class="card-text">
            At ELECTRO4ME, we envision propelling India into the forefront of eco-friendly transportation as a premier manufacturer and exporter of zero-emission two-wheelers. Our mission is rooted in a commitment to societal betterment through sustainable practices.

Dedicated to innovation, we tirelessly develop cutting-edge technologies to address daily challenges and prioritize the evolving needs of our customers. Our relentless pursuit of excellence drives us to achieve the highest standards of technology in our industry.
          </div>
          <div class="card-text">
            At ELECTRO4ME, we understand that earning customer trust is paramount. Through unwavering dedication, rigorous hard work, and meticulous team planning, we strive to deliver unparalleled quality and service, ensuring that our customers' satisfaction remains our top priority. Join us on our journey towards a cleaner, greener future with ELECTRO4ME.
          </div>
        </div>

      
        <div class="cards2" data-aos="zoom-in">
  
          <span class="card-title">Mission</span>
          <div class="card-text">
            To be the No. 1 electric two-wheeler company by introducing the
            world to the best of electric automobile technology. And to
            establish ELECTRO4ME as a trusted brand by delivering smart,
            stylish, comfortable and energy efficient vehicles that inspire the
            riders to live to the fullest. ELECTRO4ME aims to be the leading electric two-wheeler company globally, offering smart, stylish, and energy-efficient vehicles.
          </div>
          <div class="card-text">
            As it is said you cannot judge a book by its cover, so here we keep
            all the things transparent enough to achieve your trust. A minute
            that seems to go by quickly, especially in a fast-paced environment
            we try to become better with evolving techniques.
          </div>
        </div>


     
        <div class="cards2" data-aos="zoom-in-left">
   
          <span class="card-title">Philosophy</span>
          <div class="card-text">
            We strongly believe that our technology can help power the path
            towards a greener future. By leveraging the latest in automobile
            technology, our engineers have made it possible to deliver top-class
            performance without harming the environment.
          </div>
          <div class="card-text">
            Sustainable development is a key factor to our innovation, and
            therefore everything from our products to our manufacturing centres
            are completely green and ensures no impact is made on mother nature.
            This belief of powering the change towards an ecologically
            considerate society is what keeps us moving, and we’re sure that our
            cutting edge technology and high-performance vehicles will be what
            keeps the world moving.
          </div>
        </div>
 
    </div>




        <div class="aim" >
            <div class="aim-box" data-aos="fade-right">
                <div class="aim-box1">
                    <img src="./images/leaf.png" alt="Green Leaf">
                    <div>Go Green</div>
                </div>
                <div class="aim-box2">
                    <img src="./images/earth.png" alt="">
                    <div>Save Mother Earth</div>
                </div>
            </div >
            <div class="aim-box" data-aos="fade-left">
                <div class="aim-box1">
                    <img src="./images/clean.png" alt="Green Leaf">
                    <div>Improve Environment</div>
                </div>
                <div class="aim-box2">
                    <img src="./images/CO2.png" alt="">
                    <div>Clean Air</div>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer-title">
                <h1>ELECTRO4ME</h1>
                <h2>Price starts from Rs. 49,999 Only</h2>
            </div>
            <div class="footer-lower">
                <div class="navigation">
                    <h2>Navigation</h2>
                    <ul>
                        <a href="/"><li>Home</li></a>
                        <a href="/products"><li>Products</li></a>
                        <a href="/about"><li>About Us</li></a>
                        <a href="/contact"><li>Contact Us</li></a>
                        
                        
                        
                        
                    </ul>
                </div>
                <div class="address">
                    Please Visit Our Store at: Electro4Me House, GF-17, Rajdanga Main Road, EKTP, Kolkata 700107
                </div>
            </div>
            <div class="socials">
                <a href="https://www.facebook.com/" target="_blank">
                    <div class="rotated-rect"><div class="icon"><i class="fa fa-facebook icon"></i></div></div>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <div class="rotated-rect"><div class="instagram"><i class="fa fa-instagram"></i></div></div>
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <div class="rotated-rect"><div class="icon"><i class="fa fa-twitter icon"></i></div></div>
                </a>
                <a href="mailto:contact@electro4me.com">
                    <div class="rotated-rect"><div class="icon"><i class="fa fa-envelope icon"></i></div></div>
                </a>
            
            </div>            

        </footer>
        <script src="{{ url_for('static', filename='js/counter.js') }}"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
          </script>
</body>
</html>